<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=TodoListDB.mssql.somee.com;Initial Catalog=TodoListDB;Persist Security Info=True;User ID=rj_mermaid_SQLLogin_1;Password=6gordu3swm"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>