@model List<String>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@Html.ActionLink("Take me Home", "Index", "Home")

@{
    var message = "Hello";
    message += " world!";

    <text>@message</text>
}

<ul>
    @foreach (string s in Model)
    {
        <li>@s</li>
    }
</ul>